<div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<select class="form-control" name="TaskListSelect" id="TaskListSelect" ng-model="selectedList" ng-options="option.get('name') for option in taskLists" ng-change="changeList()"></select>
		</div>
	</div>


	<div class="tasks-container" ng-show="tasks.length > 0">
	<div class="task-box task-status-{{task.get('status')}} task-priority-{{task.get('priority')}}" ng-repeat="task in tasks">
	<!--div class="task-box task-status-{{task.get('status')}} task-priority-{{task.get('priority')}}" ng-repeat="task in tasks | orderBy: [task.get('status'), task.get('priority')]"-->
		<div class="task-header clearfix">
			<div style="float: left"><h1>{{task.get('name')}}</h1></div>
			<div class="toolbox" style="float: right">
				<div class="btn-group">
					<button class="btn btn-default toggle-btn" ng-click="expandDetails(task)"><span class="glyphicon glyphicon-chevron-down"></span></button>
					<button class="btn btn-default edit-btn" ng-show="task.get('status') == 0" ng-click="updateTaskBtn(task)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-default done-btn" ng-click="changeStatus(task)"><span class="glyphicon glyphicon-status-{{task.get('status')}}"></span></button>
				</div>
			</div>
		</div>
			<div class="progress" ng-if="task.get('milestones').length > 0">
				<uib-progressbar animate="false" value="progress(task)" type="success"></uib-progressbar>
			</div>

		<div class="task-description animation-show-hide" ng-show="task.details_expanded">
			<hr/>
			<div ng-if="task.get('dueTo')"><span class="glyphicon glyphicon-calendar"></span>{{task.get('dueTo')  | date:'medium'}}</div>
			<p>{{task.get('description')}}</p>

			<div id="taskMilestoneList" ng-show="task.get('milestones').length > 0">
				<h3> Milestones </h3>
				<div class="milestone-status-{{milestone.get('status')}} milestone" ng-click="changeMilestoneStatus(milestone, task.get('status'))"  ng-repeat="milestone in task.get('milestones') | orderBy: milestone.get('sequence')"> 
					<span>{{milestone.get('description')}}</span>
				</div>
			</div>			



		</div>
	</div>
	</div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" ng-click="addNewTask()"> Add task</button>
<button type="button" class="btn btn-primary btn-lg" ng-click="addNewList()"> Add list</button>
<button type="button" class="btn btn-primary btn-lg" ng-click="updateListBtn()"> update list</button>
<button type="button" class="btn btn-primary btn-lg" ng-click="logoutBtn()">Wyloguj</button>


<!-- Modal -->
<div class="modal fade" id="task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{modal.title}}</h4>
      </div>
      <div class="modal-body">
        	<div class="row">
			<div class="col-md-6">
				<input type="text" placeholder="Tytuł" class="form-control" ng-model="task.name">
			</div>
			<div class="col-md-6">
				<input type="range" min='1' max='5' step='1' placeholder="Priorytet" ng-model="task.priority">
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
			<textarea class="form-control" ng-model="task.description" placeholder="Opis"></textarea>
			</div>
		</div>
		<span><input type="checkbox" ng-model="task.setDueTo" ng-change="taskAddDate()"/>Ustawić datę zakończenia?</span>
		 <datetimepicker ng-if="task.setDueTo" min-date="datepicker.minDate" hour-step="datepicker.hourStep" 
      			minute-step="datepicker.minuteStep" ng-model="task.dueTo" show-meridian="datepicker.showMeridian" 
     			date-format="dd-MMM-yyyy" date-options="datepicker.dateOptions"
     			date-disabled="disabled(date, mode)" 
      			readonly-date="false"
      			hidden-time="false"
      			hidden-date="false" 
      			show-spinners="true"
      			readonly-time="false">
		</datetimepicker>
		<h3> Milestones </h3>
		<div id="taskMilestoneList">
			<div class="milestone-status={{milestone.status}} milestone"  ng-repeat="milestone in taskMilestones"> 
				<div  ng-if="!milestone.edit && !milestone.remove"><span ng-click="editMilestoneStart(milestone)" >{{milestone.description}}</span><button type="button" class="transparent" ng-click="removeMilestoneBtn(milestone)"><span class="glyphicon glyphicon-remove alert-danger"></span></button></div>
				<div ng-if="milestone.edit && !milestone.remove"><input class="form-control" focus-me="milestone.edit" ng-model="milestone.description" ng-blur="editMilestoneEnd(milestone)" ng-if="milestone.edit"/></div>
			</div>
		</div>			
		<input class="form-control" ng-model="milestone.description"></input><button type="button" class="btn btn-primary" ng-click="addMilestoneBtn()">Dodaj</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modalCancelBtn" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary modalSaveBtn" data-dismiss="modal" ng-show="modal.action == 'ADD'" ng-click="saveTask()">Zapisz</button>
        <button type="button" class="btn btn-primary modalUpdateBtn" data-dismiss="modal" ng-show="modal.action == 'UPDATE'" ng-click="updateTask()">Aktualizuj</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="list-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{modal.title}}</h4>
      </div>
      <div class="modal-body">
        	<div class="row">
			<div class="col-md-6">
				<input type="text" placeholder="Tytuł" class="form-control" ng-model="list.name">
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modalCancelBtn" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary modalSaveBtn" data-dismiss="modal" ng-show="modal.action == 'ADD'" ng-click="saveList()">Zapisz</button>
        <button type="button" class="btn btn-primary modalUpdateBtn" data-dismiss="modal" ng-show="modal.action == 'UPDATE'" ng-click="updateList()">Aktualizuj</button>
      </div>
    </div>
  </div>
</div>


<script>

	$(document).ready(function(){
		console.log('ready!');
		$(".toggle-btn").bind("click", function(event){
			$(event).find(".task-description").toggle();
			$('input[type="range"]').rangeslider();	
		});

	});

</script>


