*{
	margin: 0;
	padding: 0;
}

body{
	background-color: lightgrey;
}

#container{
	max-width: 720px;
	margin: 0 auto;
}

.clearfix:after{
	content:"";
	display:table;
	clear:both;
}

.recipe_teaser{
	margin:10px;
	padding: 10px;
	background-color: darkgrey;

}

.task_description{
	
}

.animation-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animation-show-hide.ng-hide {
  opacity:0;
}

.recipe_teaser img{	
	margin: 10px;
}

.task-status-1 h1,
.task-status-1 .task-description *
{
	text-decoration: line-through;
	color: #ccc;
}

.milestone-status-1 span
{
	text-decoration: line-through;
	color: #ccc;
}

.task-priority-1{
	background-color: rgba(0, 153, 0, 0.75);	
}

.task-priority-2{
	background-color: rgba(115, 230, 0, 0.75);	
}

.task-priority-3{
	background-color: rgba(255, 255, 26, 0.75);	
}

.task-priority-4{
	background-color: rgba(230, 138, 0, 0.75);	
}

.task-priority-5{
	background-color: rgba(179, 0, 0, 0.75);	
}

.tasks-container{
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.tasks-container .task-box{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}


.tasks-container .task-box:last-child{
	border:none;
}

.modal h4{
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-transform: uppercase;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.transparent{
    border: none;
    background: none;
}

.glyphicon-status-0:before{
	content: "\e013"
}
.glyphicon-status-0{
	color: green;
	
}
.glyphicon-status-1:before{
	content: "\e014"
}
.glyphicon-status-1{
	color: red;
}

.task-status-0 div.milestone-status-0{
	cursor:pointer;
}
